*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    color: white;
    background-color: rgb(36, 40, 49);
    display: grid;
    place-content: center;
}

header{
    display: flex;
}

header .activator{
    border-radius: 100%;
    cursor: pointer;
    padding: 1em;
}

header img:hover{
    background-color: rgb(30, 33, 41);
    color: white; 
}

img{
    width: 100%;
    max-width: 45px;
}

nav{
    background-color: rgb(41, 46, 56);
    border-radius: 0 5em 5em 0;
    padding: 0.5em;
    clip-path: ellipse(50% 50% at -50% 50%);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a img{
    display: block;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 50%;
}

nav ul li a:hover{
    background-color: rgb(50, 56, 68);
}

nav ul img{
    opacity: 0;
    transform: translateX(-10px);
}