@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;600&family=Raleway:wght@800&family=Work+Sans:wght@500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

body{
    background-color: #14213d;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 400px;
}

h1{
    font-size: 6em;
    font-weight: 800;
    position: relative;
    color: #14213d;
    -webkit-text-stroke: 2px #383d52;
    text-transform: uppercase;
    text-shadow: 4px 4px 5px rgb(1, 22, 39);
}

h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 5px solid #fb4b4c;
    color: #fb4b4c;
    overflow: hidden;
    animation: text 6s linear infinite;
}

@keyframes text{
    0%, 10%, 100%{
        width: 0%;
    }

    70%, 90%{
        width: 100%;
    }

}